<div class="form-wrapper">
  <h1>Edit <%= resource_name.to_s.humanize %></h1>

  <%= form_with model: @user, url: user_registration_path, method: :patch, local: true do |f|%>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-item">
      <%= f.label :ニックネーム %><br />
      <%= f.text_field :nickname, autofocus: true, maxlength: "10", placeholder:"ニックネーム(最大10文字)"%>
    </div>

  <div class="profile_edit_avatar">
    <div class="form-item edit_avatar_form">
      <%= f.file_field :avatar, class:"b_none"%>
    </div>

    <div class="edit_avatar">
    <div class="avatar-list"></div>
      <%= image_tag current_user.avatar.variant(resize: '120x120') , id: 'avatar' if current_user.avatar.present? %>
    </div>
  </div>

    <div class="form-item">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-item">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="form-item">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="form-item">
      <%= f.label :current_password %> <i></i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="button-panel">
      <%= f.submit "Update",  class:"button"%>
    </div>
  <% end %>

  <h3>アカウントを消去する</h3>
  <%= button_to "アカウントを消去", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class:"button"%>
</div>