<div class="profile">
  <div class="profile__wrap">
    <div class="profile__avatar">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, class:"round-img"%>
      <% else %>
        <%= image_tag "noimage.png", class: "round-img" %>
      <% end %>
    </div>
    <div class="profile_name">
      <h1><%= @user.nickname %></h1>
    </div>
    <div class="profile__config">
      <%= button_to "プロフィールを編集", edit_user_registration_path, method: :get, class: "profile__edit__btn"%>
      <%= link_to (image_tag 'config.png', size: '25x25', class:"config-img"), edit_user_registration_path %>
    </div>

  </div>
</div>

<%= javascript_pack_tag 'quizzes/user_words' %>