<div class="profile">
  <div class="profile__wrap">
    <%= image_tag 'studying.png', size: '150x100', class:"round-img"%>
    <div class="profile_name">
      <h1><%= @user.nickname %></h1>
    </div>
    <div class="profile__config">
      <%= button_to "プロフィールを編集", edit_user_registration_path, method: :get, class: "profile__edit__btn"%>
      <%= link_to (image_tag 'config.png', size: '25x25', class:"config-img"), edit_user_registration_path %>
    </div>

  </div>
</div>

<%= javascript_pack_tag 'quizzes/user_words' %>