<div class="form-wrapper">
    <h1>Sign In </h1>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= devise_error_messages! %>
      
      <div class="form-item">
        <%= f.email_field :email, autofocus: true, placeholder:"Email Address"%>
      </div>

      <div class="form-item">
        <%= f.password_field :password, autocomplete: "off", placeholder:"Password"%>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <div class="memorize">
            <%= f.label :remember_me%><br />
          </div>
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>

      <div class="button-panel">
        <%= f.submit "Sign in", class:"button"%>
      </div>
    <% end %>
</div>

