<!DOCTYPE html>
<html>
  <head>
    <title>PewbookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header class='header'>
    <div class="header__bar">
      <h1 class="header__title"><a href="/">Pewbook</a></h1>
      <div class='study_nav'>
        <%= link_to '単語を学ぶ', form_quizzes_path %>
        <%= link_to 'クイズ登録', new_quiz_path%>
        <%= link_to '単語一覧', word_quizzes_path%>
      </div>
      <div class='user_nav'>
        <% if user_signed_in? %>
          <span><%= current_user.nickname %>
            <ul>
              <li class="user__info">
                <%= link_to "My Page" , user_path(current_user.id)%>
                <%= link_to "My Words" , "#" %>
                <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </span>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path %>
          <%= link_to 'Log in', new_user_session_path %>
        <% end %>
      </div>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
